# hf-deploy API environment (Oracle VM)
HF_DEPLOY_ADAPTER_SOURCE={{ hf_deploy_adapter_source }}
HF_ORG={{ hf_org }}
HF_DEPLOY_DEVICE={{ hf_deploy_device }}
HF_DEPLOY_EAGER_LOAD={{ hf_deploy_eager_load }}
PYTHONPATH={{ hf_deploy_dir }}
