--
-- PostgreSQL database dump
--

\restrict lN1ZB1BcnAO9wHCEkAYuhdoN0u4vYgn3fX4XUk6rhszBAO8YUoEHQUUaZpybVgJ

-- Dumped from database version 16.14 (Debian 16.14-1.pgdg13+1)
-- Dumped by pg_dump version 16.14 (Debian 16.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: -
--

CREATE SCHEMA public;


--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON SCHEMA public IS 'standard public schema';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Album; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Album" (
    "AlbumId" integer NOT NULL,
    "Title" character varying(160) NOT NULL,
    "ArtistId" integer NOT NULL
);


--
-- Name: Artist; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Artist" (
    "ArtistId" integer NOT NULL,
    "Name" character varying(120)
);


--
-- Name: Customer; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Customer" (
    "CustomerId" integer NOT NULL,
    "FirstName" character varying(40) NOT NULL,
    "LastName" character varying(20) NOT NULL,
    "Company" character varying(80),
    "Address" character varying(70),
    "City" character varying(40),
    "State" character varying(40),
    "Country" character varying(40),
    "PostalCode" character varying(10),
    "Phone" character varying(24),
    "Fax" character varying(24),
    "Email" character varying(60) NOT NULL,
    "SupportRepId" integer
);


--
-- Name: Employee; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Employee" (
    "EmployeeId" integer NOT NULL,
    "LastName" character varying(20) NOT NULL,
    "FirstName" character varying(20) NOT NULL,
    "Title" character varying(30),
    "ReportsTo" integer,
    "BirthDate" timestamp without time zone,
    "HireDate" timestamp without time zone,
    "Address" character varying(70),
    "City" character varying(40),
    "State" character varying(40),
    "Country" character varying(40),
    "PostalCode" character varying(10),
    "Phone" character varying(24),
    "Fax" character varying(24),
    "Email" character varying(60)
);


--
-- Name: Genre; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Genre" (
    "GenreId" integer NOT NULL,
    "Name" character varying(120)
);


--
-- Name: Invoice; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Invoice" (
    "InvoiceId" integer NOT NULL,
    "CustomerId" integer NOT NULL,
    "InvoiceDate" timestamp without time zone NOT NULL,
    "BillingAddress" character varying(70),
    "BillingCity" character varying(40),
    "BillingState" character varying(40),
    "BillingCountry" character varying(40),
    "BillingPostalCode" character varying(10),
    "Total" numeric(10,2) NOT NULL
);


--
-- Name: InvoiceLine; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."InvoiceLine" (
    "InvoiceLineId" integer NOT NULL,
    "InvoiceId" integer NOT NULL,
    "TrackId" integer NOT NULL,
    "UnitPrice" numeric(10,2) NOT NULL,
    "Quantity" integer NOT NULL
);


--
-- Name: MediaType; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."MediaType" (
    "MediaTypeId" integer NOT NULL,
    "Name" character varying(120)
);


--
-- Name: Playlist; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Playlist" (
    "PlaylistId" integer NOT NULL,
    "Name" character varying(120)
);


--
-- Name: PlaylistTrack; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."PlaylistTrack" (
    "PlaylistId" integer NOT NULL,
    "TrackId" integer NOT NULL
);


--
-- Name: Track; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Track" (
    "TrackId" integer NOT NULL,
    "Name" character varying(200) NOT NULL,
    "AlbumId" integer,
    "MediaTypeId" integer NOT NULL,
    "GenreId" integer,
    "Composer" character varying(220),
    "Milliseconds" integer NOT NULL,
    "Bytes" integer,
    "UnitPrice" numeric(10,2) NOT NULL
);


--
-- Data for Name: Album; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Artist; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Customer; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Employee; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Genre; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Genre" ("GenreId", "Name") FROM stdin;
1	Rock
2	Jazz
3	Metal
4	Alternative & Punk
5	Rock And Roll
6	Blues
7	Latin
8	Reggae
9	Pop
10	Soundtrack
11	Bossa Nova
12	Easy Listening
13	Heavy Metal
14	R&B/Soul
15	Electronica/Dance
16	World
17	Hip Hop/Rap
18	Science Fiction
19	TV Shows
20	Sci Fi & Fantasy
21	Drama
22	Comedy
23	Alternative
24	Classical
25	Opera
\.


--
-- Data for Name: Invoice; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: InvoiceLine; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: MediaType; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."MediaType" ("MediaTypeId", "Name") FROM stdin;
1	MPEG audio file
2	Protected AAC audio file
3	Protected MPEG-4 video file
4	Purchased AAC audio file
5	AAC audio file
\.


--
-- Data for Name: Playlist; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Playlist" ("PlaylistId", "Name") FROM stdin;
1	Music
2	Movies
3	TV Shows
4	Audiobooks
5	90???s Music
6	Audiobooks
7	Movies
8	Music
9	Music Videos
10	TV Shows
11	Brazilian Music
12	Classical
13	Classical 101 - Deep Cuts
14	Classical 101 - Next Steps
15	Classical 101 - The Basics
16	Grunge
17	Heavy Metal Classic
18	On-The-Go 1
\.


--
-- Data for Name: PlaylistTrack; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Track; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Name: Album PK_Album; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Album"
    ADD CONSTRAINT "PK_Album" PRIMARY KEY ("AlbumId");


--
-- Name: Artist PK_Artist; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Artist"
    ADD CONSTRAINT "PK_Artist" PRIMARY KEY ("ArtistId");


--
-- Name: Customer PK_Customer; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Customer"
    ADD CONSTRAINT "PK_Customer" PRIMARY KEY ("CustomerId");


--
-- Name: Employee PK_Employee; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Employee"
    ADD CONSTRAINT "PK_Employee" PRIMARY KEY ("EmployeeId");


--
-- Name: Genre PK_Genre; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Genre"
    ADD CONSTRAINT "PK_Genre" PRIMARY KEY ("GenreId");


--
-- Name: Invoice PK_Invoice; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Invoice"
    ADD CONSTRAINT "PK_Invoice" PRIMARY KEY ("InvoiceId");


--
-- Name: InvoiceLine PK_InvoiceLine; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."InvoiceLine"
    ADD CONSTRAINT "PK_InvoiceLine" PRIMARY KEY ("InvoiceLineId");


--
-- Name: MediaType PK_MediaType; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."MediaType"
    ADD CONSTRAINT "PK_MediaType" PRIMARY KEY ("MediaTypeId");


--
-- Name: Playlist PK_Playlist; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Playlist"
    ADD CONSTRAINT "PK_Playlist" PRIMARY KEY ("PlaylistId");


--
-- Name: PlaylistTrack PK_PlaylistTrack; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."PlaylistTrack"
    ADD CONSTRAINT "PK_PlaylistTrack" PRIMARY KEY ("PlaylistId", "TrackId");


--
-- Name: Track PK_Track; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Track"
    ADD CONSTRAINT "PK_Track" PRIMARY KEY ("TrackId");


--
-- Name: IFK_AlbumArtistId; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IFK_AlbumArtistId" ON public."Album" USING btree ("ArtistId");


--
-- Name: IFK_CustomerSupportRepId; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IFK_CustomerSupportRepId" ON public."Customer" USING btree ("SupportRepId");


--
-- Name: IFK_EmployeeReportsTo; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IFK_EmployeeReportsTo" ON public."Employee" USING btree ("ReportsTo");


--
-- Name: IFK_InvoiceCustomerId; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IFK_InvoiceCustomerId" ON public."Invoice" USING btree ("CustomerId");


--
-- Name: IFK_InvoiceLineInvoiceId; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IFK_InvoiceLineInvoiceId" ON public."InvoiceLine" USING btree ("InvoiceId");


--
-- Name: IFK_InvoiceLineTrackId; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IFK_InvoiceLineTrackId" ON public."InvoiceLine" USING btree ("TrackId");


--
-- Name: IFK_PlaylistTrackTrackId; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IFK_PlaylistTrackTrackId" ON public."PlaylistTrack" USING btree ("TrackId");


--
-- Name: IFK_TrackAlbumId; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IFK_TrackAlbumId" ON public."Track" USING btree ("AlbumId");


--
-- Name: IFK_TrackGenreId; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IFK_TrackGenreId" ON public."Track" USING btree ("GenreId");


--
-- Name: IFK_TrackMediaTypeId; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IFK_TrackMediaTypeId" ON public."Track" USING btree ("MediaTypeId");


--
-- Name: Album FK_AlbumArtistId; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Album"
    ADD CONSTRAINT "FK_AlbumArtistId" FOREIGN KEY ("ArtistId") REFERENCES public."Artist"("ArtistId");


--
-- Name: Customer FK_CustomerSupportRepId; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Customer"
    ADD CONSTRAINT "FK_CustomerSupportRepId" FOREIGN KEY ("SupportRepId") REFERENCES public."Employee"("EmployeeId");


--
-- Name: Employee FK_EmployeeReportsTo; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Employee"
    ADD CONSTRAINT "FK_EmployeeReportsTo" FOREIGN KEY ("ReportsTo") REFERENCES public."Employee"("EmployeeId");


--
-- Name: Invoice FK_InvoiceCustomerId; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Invoice"
    ADD CONSTRAINT "FK_InvoiceCustomerId" FOREIGN KEY ("CustomerId") REFERENCES public."Customer"("CustomerId");


--
-- Name: InvoiceLine FK_InvoiceLineInvoiceId; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."InvoiceLine"
    ADD CONSTRAINT "FK_InvoiceLineInvoiceId" FOREIGN KEY ("InvoiceId") REFERENCES public."Invoice"("InvoiceId");


--
-- Name: InvoiceLine FK_InvoiceLineTrackId; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."InvoiceLine"
    ADD CONSTRAINT "FK_InvoiceLineTrackId" FOREIGN KEY ("TrackId") REFERENCES public."Track"("TrackId");


--
-- Name: PlaylistTrack FK_PlaylistTrackPlaylistId; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."PlaylistTrack"
    ADD CONSTRAINT "FK_PlaylistTrackPlaylistId" FOREIGN KEY ("PlaylistId") REFERENCES public."Playlist"("PlaylistId");


--
-- Name: PlaylistTrack FK_PlaylistTrackTrackId; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."PlaylistTrack"
    ADD CONSTRAINT "FK_PlaylistTrackTrackId" FOREIGN KEY ("TrackId") REFERENCES public."Track"("TrackId");


--
-- Name: Track FK_TrackAlbumId; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Track"
    ADD CONSTRAINT "FK_TrackAlbumId" FOREIGN KEY ("AlbumId") REFERENCES public."Album"("AlbumId");


--
-- Name: Track FK_TrackGenreId; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Track"
    ADD CONSTRAINT "FK_TrackGenreId" FOREIGN KEY ("GenreId") REFERENCES public."Genre"("GenreId");


--
-- Name: Track FK_TrackMediaTypeId; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Track"
    ADD CONSTRAINT "FK_TrackMediaTypeId" FOREIGN KEY ("MediaTypeId") REFERENCES public."MediaType"("MediaTypeId");


--
-- PostgreSQL database dump complete
--

\unrestrict lN1ZB1BcnAO9wHCEkAYuhdoN0u4vYgn3fX4XUk6rhszBAO8YUoEHQUUaZpybVgJ

